@model IEnumerable<MovieApp.Domain.Entities.Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NetFlex Movies. The Best in Cinematics</h1>
    <p>See the latest movies here!</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Title)</th>
            <th>@Html.DisplayNameFor(m => m.ReleaseDate)</th>
            <th>@Html.DisplayNameFor(m => m.Genre)</th>
            <th>@Html.DisplayNameFor(m => m.Price)</th>
            <th>@Html.DisplayNameFor(m => m.Rating)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => item.Title)</td>
                <td>@Html.DisplayFor(_ => item.ReleaseDate)</td>
                <td>@Html.DisplayFor(_ => item.Genre)</td>
                <td>@Html.DisplayFor(_ => item.Price)</td>
                <td>@Html.DisplayFor(_ => item.Rating)</td>
            </tr>
        }
    </tbody>
</table>
